### NextJS template
# dependencies
/node_modules
/dovzhenko-user-master
/dovzhenko-user-master.zip
/dovzhennko-admin-vercel-master
/flask_session
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts


certificates


