@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: 254, 67%, 24%;
    --background-60: 254, 67%, 24%, 0.6;
    --background-gradient: 90deg, #291666 0%, #291666 77.6%, #2B1D70 89.06%, #291666 100%;
    --navigation-hover: 46, 69%, 49%;
    --navigation: 46, 61%, 70%;
    --event-hover: 260, 56%, 18%, 0.95;
    --secondary: 253, 62%, 26%;
    --secondary-light: 223, 81%, 68%;
    --cooperation: 34, 17, 89, 0.97;
}

header {
    background: linear-gradient(90deg, #291666 0%, #291666 77.6%, #2B1D70 89.06%, #291666 100%) !important;
}

.text-gold\/70 {
    @apply text-gold opacity-70;
}

.bg-main\/70 {
    @apply bg-main opacity-30;
}

.main-bg {
    background: linear-gradient(180deg, #291666 0, #251447 100%);
}



