header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(90deg, #291666, #291666 77.6%, #2b1d70 89.06%, #291666);
    margin: 0;
    padding: 17px 60px;
}

.menu *{
    text-transform: uppercase;
    font-size: 12px;
    font-family: "Gilroy", sans-serif;
}

.menu a{
    color: white;
    text-decoration: none;
    position: relative;
    margin: 0 40px 0 0;
}

.menu a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;          
  background: currentColor;
  transition: width 0.3s ease;
}

.menu button:hover,
.menu a:hover{
    color: rgb(255, 196, 0);
}

.menu a:hover::after {
  width: 100%;
}

.menu button{
    background: transparent;
    border: none;
    color: white;
    margin: 0 0 0 20px;
}

.menu span {
    display: block;
    height: 3px;
    background: white;
    border-radius: 2px;
}

@media (max-width: 768px) {
    header .menu{
        display: none;
        width: 100vw;
        background: linear-gradient(90deg, #291666, #291666 77.6%, #2b1d70 89.06%, #291666);
        opacity: 0.9;
    }

    
}