.payment{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 15px;
    overflow: hidden;
    color: white;
}

.payment-menu{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;
    max-width: 40%;
}

.payment-menu .client-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.payment-menu .client-info input{
  min-width: 130px;
  background: rgba(0, 0, 0, 0.6);
  border: 2px solid white;
  border-radius: 8px;
  padding: 5px;
  font-size: 16px;
}

.payment-menu button{
    background: #E1CB84;
    border: none;
    border-radius: 8px;
    color: #291666;
    cursor: pointer;
    padding: 10px;
    min-width: 120px;
    font-size: 18px;
    font-weight: 500;
    pointer-events: none;
    opacity: 0.5;
    cursor: not-allowed;
    touch-action: none;
}

.tickets{
    margin: 20px;
    padding: 30px;
    background: rgba(0, 0, 0, 0.6);
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.tickets h1, h2{
    font-size: 18px;
}

.tickets .ticket{
    font-size: 18px;
}

.error-message p{
    text-align: center;
    margin: 10px;
    font-size: 14px;
}