.sucsess{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: auto;
    margin-bottom: 15px;
}

.sucsess h1{
    text-align: center;
    color: white;
}

.h1 {
    color: white;
}

.sucsess-button{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sucsess button{
    background: #E1CB84;
    border: none;
    border-radius: 8px;
    color: #291666;
    cursor: pointer;
    padding: 10px;
    min-width: 120px;
    font-size: 18px;
    font-weight: 500;
}

.sucsess embed{
    width: 400px;
    height: 598px;
    object-fit: contain;
    padding: 0;
}