<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title>Звіт по квитках</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/reports.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    {% include 'admin/admin-header.html' %}

    <h2>Звіт по проданих квитках</h2>

    <form method="get" action="{{ url_for('admin_reports') }}">
        <label for="date">Оберіть дату:</label>
        <input type="date" name="date" id="date" value="{{ selected_date }}">
        <button type="submit">Показати</button>
    </form>

    {% if data %}
        <div class="total-summary">
            <strong>Загальна кількість продажів:</strong> {{ total_tickets }}<br>
            <strong>Загальна сума продажів:</strong> {{ total_revenue }} ₴
        </div>

        <table>
            <thead>
                <tr>
                    <th>Назва фільму</th>
                    <th>Година</th>
                    <th>Ціна квитка</th>
                    <th>Кількість квитків</th>
                </tr>
            </thead>
            <tbody>
                {% for item in data %}
                <tr>
                    <td>{{ item.title }}</td>
                    <td>{{ item.time }}</td>
                    <td>{{ item.price }} ₴</td>
                    <td>{{ item.count }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Квитки не знайдено на обрану дату.</p>
    {% endif %}

    <script>
        const method = document.createElement('div');
        method.classList.add('payments');

        const tickets = "{{ data.pay_method }}";

        methods = {};
        for (const item of tickets) {
            methods[item] = (methods[item] || 0) + 1;
        }

        for (const key in methods){
            const p = document.createElement('p');
            p.textContent = `${key}: ${methods[key]}`;
            method.appendChild(p);
        }

        document.body.appendChild(method);

    </script>

</body>
</html>
