<!DOCTYPE html>
<html lang="uk">
<head>
  <meta charset="UTF-8">
  <title>Обрати місця –</title>
  <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
  {% include('header.html') %}
  
  <main>
    
    <div class="film_inf">
      <div class="poster">
        <img src="/static/img/red.jpg" alt="{{ session.film_title }}">
      </div>
      <div class="discription">
        <p><strong>Назва:</strong> Lilo and Stitch {{ session.film_title }}</p>
        <p><strong>Початок:</strong> </p>
        <p><strong>Тривалість:</strong>  хв</p>
        <p><strong>Ціна:</strong>  грн</p>
      </div>
      
    </div>
    
    <div class="holl">
      <h2>Оберіть місця:</h2>
      <form action="" method="post">
        <input type="hidden" name="session_id" value="">
        <div class="hall">
          
            <div class="row">
              
                <label class="seat ">
                  
                    <input
                      type="checkbox"
                      name="seat_ids"
                      value=""
                      id="seat-"
                    >
                    <span></span>
                  
                    <span></span>
                  
                </label>
              
            </div>
          
        </div>  
        <div class="puyment">
          <button type="submit">Перейти до оплати</button>
        </div>
      </form>
    </div>
  </main>
  
  {% include('footer.html') %}


</body>
</html>
