<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/footer.css">
</head>
<body>
    <footer>
        {% if is_mobile %}
        <div class="menu">
            <a href="">Movies</a>
            <a href="">Events</a>
            <a href="">Studios</a>
            <a href="">About</a>
            <a href="">Contacts</a>
        </div>
        <div class="logo">
            <img src="/static/img/ucf.svg" alt="">
            <img src="/static/img/logo.svg" alt="">
        </div>
        <div class="safty">
            <p>The website created with support by UCF</p>
            <p>© All rights reserved | 2025</p>
        </div>
        {% else %}
        <div class="support">
            <div class="safty">
                <p>The website created with support by UCF</p>
                <p>© All rights reserved | 2025</p>
            </div>
            <div class="partner-logo">
                <img src="/static/img/ucf.svg" alt="">
            </div>
        </div>
        <div class="menu">
            <a href="">Movies</a>
            <a href="">Events</a>
            <a href="">Studios</a>
            <a href="">About</a>
            <a href="">Contacts</a>
        </div>
        <div class="logo">
            <img src="/static/img/logo.svg" alt="">
        </div>
        {% endif %}
    </footer>
</body>
</html>