{
	"tabWidth": 2,
	"useTabs": true,
	"semi": true,
	"singleQuote": true,
	"jsxSingleQuote": true,
	"trailingComma": "all",
	"printWidth": 80,
	"endOfLine": "auto",
	"bracketSameLine": false,
	"plugins": ["prettier-plugin-tailwindcss"]
}
