<!DOCTYPE html>
<html lang="uk">
<head>
  <meta charset="UTF-8">
  <title>квиток</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/success.css') }}">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
  {% include 'header.html' %}

  <main class="sucsess">
    {% if is_success %}
    <h1 class='h1'>Операція успіщна</h1>
    <div class="ticket-pdf">
      <embed src="{{ url_for('ticket_pdf', download='false') }}" type="application/pdf">
    </div>
    {% else %}
    <h1 class='h1'>Не вдалося провести транзакцію</h1>
    {% endif %}
    <div class="sucsess-button">
        {% if is_success %}
        <button class="btn btn-load" onclick="load()">Завантажити квиток</button>
        {% endif %}
        <button class="btn btn-return" onclick="home()">Повернутися на головну</button>
    </div>
  </main>

  {% include 'footer.html' %}

  <script>
    
    console.log("success: " + '{{ success_pay }}' );
    if( '{{ is_success }}' ) {
        window.onload = function() {
            load();
        };
    }
    


    function home(){ 
      window.location.href = 'https://www.dovzhenko-center.lviv.ua/en/movies';
    }

     function load(){ 
      window.location.href = '{{ url_for("ticket_pdf", download="true") }}';
    }
  </script>
</body>
</html>
