<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title>Перевірка платежу</title>
    <style>
        .loader {
            border: 8px solid #f3f3f3;
            border-top: 8px solid #3498db;
            border-radius: 50%;
            width: 60px;
            height: 60px;
            animation: spin 1s linear infinite;
            margin: 100px auto;
        }
        @keyframes spin {
            0% { transform: rotate(0deg); }
            100% { transform: rotate(360deg); }
        }
        .center { text-align: center; }
    </style>
</head>
<body>
    <div class="center">
        <div class="loader"></div>
        <p>Перевіряємо оплату...</p>
    </div>

    <script>
        const orderId = "{{ order_id }}";
        function checkStatus() {
            console.log("start function")
            fetch(`/check_payment_status?order_id=${orderId}`)
                .then(res => res.json())
                .then(data => {
                    console.log( 'data> ' + data.status )
                    console.log("before if")
                    if (data.status === 'success') {
                        console.log("first if")
                        const confirmationData = {{ confirmation_data | tojson | safe }};
                        const encodedInfo = encodeURIComponent(JSON.stringify(confirmationData));
                        window.location.href = `/final_success?order_id=${orderId}&is_success=True&info=${encodedInfo}`;


                    }
                    if (data.status === 'sandbox') {
                        console.log("second if")
                        const confirmationData = {{ confirmation_data | tojson | safe }};
                        const encodedInfo = encodeURIComponent(JSON.stringify(confirmationData));
                        window.location.href = `/final_success?order_id=${orderId}&is_success=True&info=${encodedInfo}`;


                    }
                })
        }
        setInterval(checkStatus, 1000);
    </script>
</body>
</html>
