<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title>Перевірка платежу</title>
    <style>
        .loader {
            border: 8px solid #f3f3f3;
            border-top: 8px solid #3498db;
            border-radius: 50%;
            width: 60px;
            height: 60px;
            animation: spin 1s linear infinite;
            margin: 100px auto;
        }
        @keyframes spin {
            0% { transform: rotate(0deg); }
            100% { transform: rotate(360deg); }
        }
        .center { text-align: center; }
    </style>
</head>
<body>
    <div class="center">
        <div class="loader"></div>
        <p>Перевіряємо оплату...</p>
    </div>

    <script>
        const orderId = "{{ order_id }}";
        const confirmationData = "{{ confirmation_data }}";
        function checkStatus() {
            fetch(`/check_payment_status?order_id=${orderId}`)
            .then(res => res.json())
            .then(data => {
                if (data.status === 'success' || data.status === 'sandbox') {
                const encodedInfo = encodeURIComponent(JSON.stringify(confirmationData));
                window.location.href = `/final_success?order_id=${orderId}&is_success=True&info=${encodedInfo}`;
                }
                else {
                    window.location.href = `/final_success?order_id=${orderId}&is_success=false&info=None`;
            }.catch(err => {
                console.error('Error checking payment status:', err);
        }));
        }
    
        setInterval(checkStatus, 1000);
</script>

</body>
</html>
